<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="content-profile">
        <div class="tabs-profile">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                <i class="fa-regular fa-rectangle-list"></i>
                <p>Reports</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="fa-solid fa-person-dots-from-line"></i>
                <p>Diagnosis</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                <i class="fa-solid fa-hand-holding-medical"></i>
                <p>Treatments</p>
              </button>
            </li>
          </ul>
          <div class="tab-content profile-doc-data" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-md-4">
                  <div class="reports-box">
                    <div class="parent-box">
                      <h4>Reports</h4>
                      <p>Upload your san copy or Report file Here..</p>
                    </div>
                    <label for="dragDropFile">
                      <p>Drag a file</p>
                      <i class="fa-regular fa-images"></i>
                      <p>Select Files to Upload</p>
                      <input type="file" class="d-none" id="dragDropFile">
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cert-tabs-doctor">
                    <div class="row">
                        <div class="col-12">
                            <label for="localfiles" class="file-upload">
                              Upload Files
                              <input type="file" class="d-none" id="localfiles">
                            </label>
                        </div>
                        <div class="col-12">
                            <div class="cert">
                              <div class="uploaded-files">
                                  <p>X-ray on the abdomen</p>
                                  <div class="icon-close">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="cert">
                              <div class="uploaded-files">
                                  <p>X-ray on the abdomen</p>
                                  <div class="icon-close">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="cert">
                              <div class="uploaded-files">
                                  <p>X-ray on the abdomen</p>
                                  <div class="icon-close">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="cert">
                              <div class="uploaded-files">
                                  <p>X-ray on the abdomen</p>
                                  <div class="icon-close">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="cert">
                              <div class="uploaded-files">
                                  <p>X-ray on the abdomen</p>
                                  <div class="icon-close">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cert-tabs-doctor">
                    <div class="row">
                        <div class="col-12">
                            <label for="xrayOnAbdoMen" class="file-upload">
                              x-ray on The abdomen
                              <input type="file" class="d-none" id="xrayOnAbdoMen">
                            </label>
                        </div>
                        <div class="col-12 mt-2">
                          <div class="xray-iamge w-50 m-auto">
                            <img src="assets/images/Rectangle1295.png" class="img-fluid">
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                Test
            </div>
            <div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                Test
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
