<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Services</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Medical Raadiology</li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="img-medical-analysis">
        <img src="assets/images/pexels1.png" alt="">
      </div>
    </div>
    <div class="col-md-8">
      <div class="medica-analysis-content">
        <h3>Select Medical Rays</h3>
        <div class="selected-medical-analysis">
          <div class="row">
            <div class="col-md-6">
              <div class="selected-media">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Ordinaryrays">
                  <label class="form-check-label" for="Ordinaryrays">
                    Ordinary rays
                  </label>
                </div>
                <span>$30</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="selected-media">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="CTscan">
                  <label class="form-check-label" for="CTscan">
                    CT scan
                  </label>
                </div>
                <span>$30</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="selected-media">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="X-rayswithdye">
                  <label class="form-check-label" for="X-rayswithdye">
                    X-rays with dye
                  </label>
                </div>
                <span>$30</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="selected-media">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="MagneticResonance">
                  <label class="form-check-label" for="MagneticResonance">
                    Magnetic Resonance
                  </label>
                </div>
                <span>$30</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="selected-media">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Ultrasound">
                  <label class="form-check-label" for="Ultrasound">
                    Ultrasound
                  </label>
                </div>
                <span>$30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="book-appoiment">
        <div class="head">
          <h6>Book Appointment </h6>
          <div class="imag">
            <img src="assets/images/perm_contact_calendar.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div id="demo-calendar-apppearance22"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="book-times">
              <div class="head"> Book Time</div>
              <div class="times mt-5">
                <input type="text" class="form-control bs-timepicker" placeholder="click to choose time">
              </div>
              <button class="btn btn-next mt-5">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

