<div class="payment-admin waiting my-5">
    <h3>Welcome Admin </h3>
    <div class="box" style="width: 25%;padding: 10px; margin:30px auto">
        <h3>Quick Registration</h3>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">User Name</label>
                            <input type="text" class="form-control" style="border-width: 2px;" placeholder="User Name">
                        </div>
                    </div>
                    <div class="col-12 my-4">
                        <div class="form-group">
                            <label for="name">Phone Number</label>
                            <input type="text" class="form-control" style="border-width: 2px;"
                                placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">National ID</label>
                            <input type="text" class="form-control" style="border-width: 2px;"
                                placeholder="National ID">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-5">
                <div class="d-flex justify-content-center">
                    <div  class="upload-flies-tabs">
                        <label  for="fileTreatment">
                            <p > Upload File 
                                <i class="fa-solid fa-folder-plus"></i>
                            </p>
                            <input  type="file" id="fileTreatment" class="d-none">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>