.confirm-register{
  background-color: #0CB8B6;
  font-weight: 600;
  text-align: center;
  padding: 11px 22px;
  border-radius: 10px;
  color: #fff ;
  cursor: pointer;
}

.payment-admin{min-height: 84vh;}
