<div class="tob-header-area">
  <div class="container-fluid">
  <div class="row align-items-center">
  <div class="col-lg-6 col-md-8">
  <div class="heder-left-content">
  <ul>
  <li>
  <i class="ri-user-location-line"></i>
  <p>Welcome To Our Genh Service Center</p>
  </li>
  <li>
  <i class="ri-time-line"></i>
  <p>Sat - Thu: 8:00 am - 7:00 pm</p>
  </li>
  </ul>
  </div>
  </div>
  <div class="col-lg-6 col-md-4">
  <div class="heder-right-content">
  <ul>
  <li>
  <div class="language">
  <select>
  <option data-display="English">English</option>
  <option value="1">Türkçe</option>
  <option value="2">Español</option>
  <option value="4">Italiano</option>
  <option value="5">한국어</option>
  <option value="5">Polski</option>
  </select>
  <i class="ri-global-line"></i>
  </div>
  </li>
  <li>
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
