<section class="patient-list-details my-5">
  <h3 class="header"><i class="fa-solid fa-id-card"></i> Patient List and Details</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="boxes-pateints">
        <div class="box">
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-patients">
        <div class="img">
          <img src="assets/images/kh.jpg" alt="">
        </div>
        <div class="form-group">
          <label for="">Full Name</label>
          <p>Khaled Mohammed</p>
        </div>
        <div class="form-group">
          <label for="">Age</label>
         <p>27</p>
        </div>
        <div class="form-group">
          <label for="">Gender</label>
          <p>Male</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="patient-complaints">
        <h5>Patient Complaints</h5>
        <textarea placeholder="The complaints...."></textarea>
        <button routerLink="/medical-record">Go to Medical Record</button>
      </div>
    </div>
  </div>
</div>
</section>
