
  <div class="container  ">
  <div class="row align-items-center">
  <div class=" col-md-12">
  <div class="page-banner-content">
    <div class="register-area pt-20 pb-70">
      <div class="container">
      <div class="register">
      <h3>{{"Join our Team" | translate}}</h3>
      <app-congrats *ngIf="showPopup"></app-congrats>

      <form (ngSubmit)="SumbitApplication(register)">
      <div class="row">
      <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label class="label-form">{{"Education" | translate}}</label>
      <textarea name="education" [(ngModel)]="register.education" type="text" id="name" class="form-control" placeholder="{{'Your Education' | translate}}*">
      </textarea>
      </div>
      </div>
   
      <div class="col-lg-6">
        <div class="form-group">
          <label class="label-form">{{"Description" | translate}}</label>
        <textarea name="description" [(ngModel)]="register.description" type="text" id="Description" class="form-control" placeholder="{{'Description' | translate}}*">
        </textarea>
        </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label class="label-form">{{"Experience " | translate}}</label>
          <textarea name="experience" [(ngModel)]="register.experience" type="text" id="Experience" class="form-control" placeholder="{{'Experience' | translate}}*">
            </textarea>
          </div>
          </div>
  
        <div class="col-lg-6">
          <label class="label-form">{{"Sepcialzation " | translate}}</label>

          <select  name="specialization" [(ngModel)]="register.sepcialzation">
            <option *ngFor="let s of sepcialzation" [value]="s">{{s}}</option>
          </select>
        </div>
        <div class="col-12">
          <div class="row">
          
            <div class="col-lg-4">
              <label class="label-form">{{"CV" | translate}}</label>
              <label for="CV" class="input-file-upload">
                <p>{{"upload your cv" | translate}}</p> <i class="fa-solid fa-cloud-arrow-up"></i>
                <input class="d-none" type="file" name="CV" id="CV">
              </label>
            </div>
        
          </div>
        </div>
      </div>
      <button type="submit" class="default-btn btn active">{{"Join Our Team" | translate}}</button>
      </form>
      </div>
      </div>
    
      </div>
  </div>
  </div>
  <!-- <div class="col-lg-6 col-md-6">
  <div class="page-banner-img">
  <img src="assets/images/page-header/page-header-img-2.png" alt="Image">
  </div>
  </div> -->
  </div>
  </div>



  
  <div class="register-area pt-100 pb-70">
    <div class="container">

    </div>
    </div>


