<div class="container">
  <div class="tob-header-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8">
          <div class="heder-left-content">
            <ul>
              <li class="w-100 text-center">
                <p>Welcome To Our Telimedcian Service Center</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="heder-right-content">
            <p class="text-center">Meet Our Doctors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-meerdoctors"></div>
<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Services</a></li>
      <li class="breadcrumb-item"><a href="#">Meet Our Doctors</a></li>
      <li class="breadcrumb-item active" aria-current="page">Khaled Mohammed</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-12">
          <div class="details-contact">
            <div class="img-profile">
              <img src="assets/images/kh.jpg" alt="">
            </div>
            <div class="address-content">
              <h4>Contact Info</h4>
              <p>ADDRESS</p>
              <span>46 street-10th Of Ramadan-Sharqia</span>
            </div>
          </div>
          <div class="books-details">
            <div class="book">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="books" id="BookAnOnlineAppointment">
                <label class="form-check-label" for="BookAnOnlineAppointment">
                  Book An Online Appointment
                </label>
              </div>
              <div class="book-right">
                <div class="price">
                  <p>$30</p>
                  <span>/30 mins</span>
                </div>
                <a href="tel:01126473136"><i class="fa-solid fa-phone"></i></a>

              </div>
              </div>
            <div class="book">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="books" id="InHosipatal">
                <label class="form-check-label" for="InHosipatal">
                  In Hosipatal
                </label>
              </div>
              <div class="price">
                <p>$40</p>
                <span>/30 mins</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div id="demo-calendar-apppearance"></div>
        </div>
        <div class="col-12">
          <a routerLink="/chat" routerLinkActive="router-link-active"  class="have-chat">
            <p>Have a chat with the doctor </p>
            <i class="fa-regular fa-message"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="profile-desc">
            <div class="heade">
              <p>Profile Description </p>
             <div class="icon">
              <i class="fa-regular fa-heart"></i>
             </div>
            </div>
            <div class="content">
              <p>
                Consultant General Surgery and Surgical Oncologist
                BM, BCH, CHSGS, FRCSI
                Associate professor, Consultant Surgical Oncologist at King Hussein Cancer Center (Formerly)
                Assistant Specialist at Jordan University Hospital (Formerly)
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="specialities-desc">
            <div class="heade">
              <p>Specialities</p>
            </div>
            <div class="content">
              <p>General Surgery</p>
              <p>Onco-Surgery</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="certifications-desc">
            <div class="heade">
              <p>Certifications</p>
            </div>
            <div class="content">
              <p>General Surgery</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="professional-highlights-desc">
            <div class="heade">
              <p>Professional Highlights</p>
            </div>
            <div class="content">
              <p>
                Dr. Mohamed Mostafa graduated from the Faculty of Medicine at Kuwait University in 1992. He then moved directly to Jordan to continue his specialization in surgery. In 1997 he received a fellowship from the Royal College of Surgeons of Ireland. In 1999, he received a degree of specialization in general surgery at the University Hospital of Jordan and then the Jordanian Board of General Surgery. During that time, he began his interest in oncology surgery and began work in the Oncology Department at the University of Jordan Hospital for two years. During this period he gained experience in surgery on many tumors, and his interest began to increase in this field. So, in 2002, he traveled to Dublin, Ireland, to pursue his oncology training, especially breast tumors, thyroid, colorectal tumors, as well as training in laparoscopic surgery.
                In 2005, he returned to Jordan after completing his training. He immediately joined the King Hussein Cancer Center as a General Surgery and Tumor Surgery Specialist and as Associate Professor of the Center for Medical Education (PEC) of the Center. He participated in many high-level medical education activities for graduates, residents and colleagues. Skills to be able to provide the best medical services to patients. During this period, he conducted numerous researches in the field of surgery and tumors, published in several international medical journals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



