
<div class="page-banner bg-1 ptb-100">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6 col-md-6">
  <div class="page-banner-content">
  <h1>Meet Our Doctors</h1>
  <ul>
  <li><a href="index.html">Home</a></li>
  <li>Doctors</li>
  </ul>
  </div>
  </div>
  <div class="col-lg-6 col-md-6">
  <div class="page-banner-img">
  <img src="assets/images/page-header/page-header-img-2.png" alt="Image">
  </div>
  </div>
  </div>
  </div>
  </div>


  <div class="doctor-area pt-100 pb-70">
  <div class="container">
  <div class="section-title">
  <span class="top-title">Our Doctors</span>
  <h2>Our Best Doctors & Popular Physicists</h2>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="form-group">
          <label>Filter Dostors</label>
          <select class="form-control form-select w-100">
            <option value="">Doctors</option>
            <option value="">Doctors</option>
            <option value="">Doctors</option>
            <option value="">Doctors</option>
            <option value="">Doctors</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-5.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Fredrick Auer</h3>
  <p>Orthopedics</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-6.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Bonita Schaden</h3>
  <p>Cardiologist</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-7.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Fletcher Waelchi</h3>
  <p>Medicine</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-8.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
   </div>
  <div class="doctor-card-content">
  <h3>Dr.Fredrick Auer</h3>
  <p>Orthopedics</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-9.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Sarai Conn</h3>
  <p>Design Expert</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-10.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Jasen Huels</h3>
  <p>Dental Surgery</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-11.jpg" alt="Image">
   <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Maureen Klein</h3>
  <p>Oral Surgery</p>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="1000">
  <div class="single-doctor-card style">
  <div class="doctor-img">
  <img src="assets/images/doctor/doctor-12.jpg" alt="Image">
  <div class="social-content">
  <ul>
  <li>
  <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
  </li>
  <li>
  <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
  </li>
  <li>
  <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
  </li>
  <li>
  <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
  </li>
  </ul>
  </div>
  </div>
  <div class="doctor-card-content">
  <h3>Dr.Cedrick Spencer</h3>
  <p>Hygienists</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
