<section class="messages-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="chats-overview">
          <div class="header-chats-overview">
            <div class="user-avatar-name">
              <img src="assets/images/1.jpg" alt="avatar user"/>
              <h3 class="active" title="online">Khaled Mohamed</h3>
            </div>
          </div>
          <div class="chats-content">
            <div class="container">
              <div class="row">

                <!-- Send Message -->
                <div class="col-12 my-2">
                  <div class="send-message">
                    <div class="content-msg">
                      <p>Hi Mohammed How Are You !</p>
                      <div class="file-attach-message-dowload">
                       <div class="file-icon">
                        <i class="fa fa-file-alt"></i>
                       </div>
                        <h4 class="file-attach-name">File Attach Name</h4>
                        <a href="files/3baset.webp" target="_blank" class="" download="true">
                          <i class="fas fa-download"></i>
                        </a>
                       <!-- <div class="sett-attach">
                        <i class="fas fa-ellipsis-h"></i>
                        <ul class="sett-list-attach">
                          <li>
                            Share
                            <i class="fas fa-share-alt"></i>
                          </li>
                          <li>
                            Delete
                            <i class="fas fa-trash-alt"></i>
                          </li>
                        </ul>
                       </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="img-user-send">
                    <span>Khaled Mohamed</span>
                    <img src="assets/images/2.jpg" alt="img user">
                  </div>
                </div>
                <!-- Received Message-->
                <div class="col-12 my-2">
                  <div class="received-message">
                    <div class="content-msg">
                      <p>received received received received received received received</p>
                    </div>
                  </div>
                  <div class="img-user-received">
                    <span>Khaled Mohamed</span>
                    <img src="assets/images/2.jpg" alt="img user">
                  </div>
                </div>
                <!-- Send Message -->
                <div class="col-12 my-2">
                  <div class="send-message">
                    <div class="content-msg">
                      <p>Send Send Send Send Send Send Send Send</p>
                      <div class="parent-message-attach-img">
                        <img id="myImg" class="message-attach-img" alt="send message attach" src="assets/images/5.jpg"/>
                      </div>
                    </div>
                  </div>
                  <div class="img-user-send">
                    <span>Khaled Mohamed</span>
                    <img src="assets/images/2.jpg" alt="img user">
                  </div>
                </div>
                <!-- Received Message-->
                <div class="col-12 my-2">
                  <div class="received-message">
                    <div class="content-msg">
                     <p> received received received received received received received</p>
                      <div class="parent-message-attach-img">
                        <img id="myImg" class="message-attach-img" alt="send message attach" src="assets/images/2.jpg"/>
                      </div>
                    </div>
                  </div>
                  <div class="img-user-received">
                    <span>Khaled Mohamed</span>
                    <img src="assets/images/2.jpg" alt="img user">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-chats">
            <input placeholder="Enter Message..." type="text" class="inp-send form-control" />
            <div class="actions-send-message-footer">
              <ul>
                <!-- <li class="send-voice">
                    <i class="fas fa-microphone"></i>
                </li> -->
                <li class="emojiOpen"><i class="far fa-smile"></i></li>
                <li>
                  <label for="fileAttach"><i class="fas fa-paperclip"></i></label>
                  <input type="file" id="fileAttach" class="d-none" accept="">
                </li>
                <!-- <li>
                  <label for="imgAttach"> <i class="far fa-image"></i></label>
                  <input type="file" id="imgAttach" class="d-none" accept="image/*">
                </li> -->
                <li><button><i class="fas fa-paper-plane"></i></button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
