
<div class="page-banner py-0  m-0 bg-1">
    <div class="container  ">
    <div class="row align-items-center">
    <div class=" col-md-12">
    <div class="page-banner-content">
      <div class="register-area pt-20 pb-70">
        <div class="container">
        <div class="register">
        <h3>{{"Join our Team" | translate}}</h3>
        <!-- <app-congrats *ngIf="showPopup"></app-congrats> -->
  
        <form (ngSubmit)="SumbitApplication(_quickRegister)">
        <div class="row">
        <div class="col-lg-6 col-md-6">
      
        </div>
     
    
    
          <div class="col-12">
            <div class="row">
            
              <div class="col-lg-4">
                <label class="label-form">{{"Upload Result" | translate}}</label>
                <label for="CV" class="input-file-upload">
                  <p>{{"upload your  Report" | translate}}</p> <i class="fa-solid fa-cloud-arrow-up"></i>
                  <input class="d-none" type="file" name="CV" id="CV">
                </label>
              </div>
          
            </div>
          </div>
        </div>
        <button type="submit" class="default-btn btn active">{{"Submit" | translate}}</button>
        </form>
        </div>
        </div>
      
        </div>
    </div>
    </div>
    <!-- <div class="col-lg-6 col-md-6">
    <div class="page-banner-img">
    <img src="assets/images/page-header/page-header-img-2.png" alt="Image">
    </div>
    </div> -->
    </div>
    </div>
    </div>
  
  
  
    
    <div class="register-area pt-100 pb-70">
      <div class="container">
  
      </div>
      </div>
  
  
  