<section class="appoiments-list my-5">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upcomming</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Complete</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Cancel</button>
    </li>
  </ul>

  <div class="container">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="appoiments">
                <img src="assets/images/appoiments.png" alt="" class="img-fluid">
                <h4>You don`t have an appointment yet</h4>
                <p>You don`t have a doctor`s appointment scheduled at the moment</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="appoiments-list-boxes">
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="complete">Complete</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="complete">Complete</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="complete">Complete</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="complete">Complete</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="complete">Complete</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="appoiments-list-boxes">
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="cancel2">Cancel</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="cancel2">Cancel</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="cancel2">Cancel</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="cancel2">Cancel</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
                <div class="box">
                  <div class="img">
                    <img src="assets/images/kh.jpg" alt="">
                  </div>
                  <div class="content">
                    <h5>Khaled Mohammed</h5>
                    <div class="status">
                      <i class="fa-regular fa-comment-dots"></i>
                      <button class="cancel2">Cancel</button>
                    </div>
                    <p class="date">Dec 14, 2022 | 15:00 PM</p>
                    <hr>
                    <button class="btn-tele">Patient Profile</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="appoiments-list-boxes">
          <div class="row">
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="complete">Complete</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="complete">Complete</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="complete">Complete</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="complete">Complete</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="appoiments-list-boxes">
          <div class="row">
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="cancel2">Cancel</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="cancel2">Cancel</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="cancel2">Cancel</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <div class="img">
                  <img src="assets/images/kh.jpg" alt="">
                </div>
                <div class="content">
                  <h5>Khaled Mohammed</h5>
                  <div class="status">
                    <i class="fa-regular fa-comment-dots"></i>
                    <button class="cancel2">Cancel</button>
                  </div>
                  <p class="date">Dec 14, 2022 | 15:00 PM</p>
                  <hr>
                  <button class="btn-tele">Patient Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
