.input-box {
  position: relative;
  margin-top: 10px;

}
.input-box input{
  width: 100% ;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #0CB8B6;
  border-radius: 0;
  margin-top: 20px ;
  padding: 6px;
  padding-left: 45px;
  outline: none;
}
.input-box input.active+ label,
.input-box input:focus + label{
  top: 5px;
}
.input-box label{
  color: #C4C4C4;
  margin-left: 50px;
  top: 22px;
  left: 0;
  position: absolute;
  transition: .3s;
  }
