<div class="payment-admin waiting my-5">
    <h3 class="my-5">Welcome Admin </h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tabel-medican">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name </th>
                        <th scope="col">Type</th>
                        <th scope="col">Price </th>
                        <th scope="col">Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Ceruloplasmin</td>
                        <td>Analysis</td>
                        <td>30$</td>
                        <td>On Site</td>
                      </tr>
                      <tr>
                        <td colspan="5" class="text-center">
                            <div class="add-new">
                                <p>Add New Analysis or Ray</p>
                                <i class="fas fa-plus"></i>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-12 my-4">
            <button class="yes btn-not-shadow">Or Add new service </button>
            <div class="boxes-order">
                <div class="box">
                    <p>Add services type</p>
                </div>
                <div class="box">
                    <p>Add services type</p>
                </div>
                <div class="box">
                    <p>Add services type</p>
                </div>
                <div class="box">
                    <p>Add services type</p>
                </div>
                <div class="box">
                    <p>Add services type</p>
                </div>
                <div class="box">
                    <p>Add services type</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <button class="btn btn-info">Confirm</button>
                <button class="btn btn-info">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>