<div class="payment-admin waiting my-5">
  <h3 class="my-4">Welcome Admin</h3>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tabel-medican">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Ceruloplasmin</td>
                <td>Analysis</td>
                <td>30$</td>
                <td>On Site</td>
              </tr>
              <tr>
                <td colspan="5" class="text-center">
                  <div class="add-new">
                    <p>Add New Analysis or Ray</p>
                    <i class="fas fa-plus"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <form>
        <div class="col-12 my-4">
          <button class="yes btn-not-shadow">Or Add new service</button>
          <div class="boxes-order">
            <div class="input-box">
              <input
                #theType
                ngModel="type"
                [class.active]="theType.value"
                id="type"
                type="text"
              />
              <label for="type">Add services type</label>
            </div>
            <div class="input-box">
              <input
                #theName
                ngModel="name"
                [class.active]="theName.value"
                id="name"
                type="text"
              />
              <label for="name">Add services name</label>
            </div>
            <div class="input-box">
              <input
                #thePrice
                ngModel="price"
                [class.active]="thePrice.value"
                id="price"
                type="text"
              />
              <label for="price">Add services price</label>
            </div>
            <div class="input-box">
              <input
                #thePlace
                ngModel="place"
                [class.active]="thePlace.value"
                id="place"
                type="text"
              />
              <label for="place">Add services place</label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <button class="btn btn-info">Confirm</button>
            <button class="btn btn-info">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
