
<div class="banner-area bg-1">
  <div class="container-fluid">
    <div class="banner-slider owl-carousel owl-theme">
      <div class="row align-items-center">
      <div class="col-lg-6">
      <div class="banner-content">
      <h1 data-aos="fade-up" data-aos-duration="1300" data-aos-delay="200">Telehealth Services React Quickly To Epidemics</h1>
      <p data-aos="fade-up" data-aos-duration="1300" data-aos-delay="400">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
      <div class="select-content" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="600">
      <ul class="d-flex flex-wrap justify-content-between">
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Find remedy for your condition</option>
      <option value="1">Fever</option>
      <option value="2">Allergies</option>
      <option value="3">Morbidity</option>
      </select>
      </li>
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Morbidity</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
      </li>
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Department</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
      </li>
      <li>
      <button type="submit" class="src-btn">
      Search<i class="ri-user-search-line"></i>
      </button>
      </li>
      </ul>
      </div>
      <div class="btn-area" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="800">
      <ul>
      <li>
      <a href="appoinment.html" class="default-btn btn active mr-20">Book An Appointment</a>
      </li>
      <li>
      <a href="about-us.html" class="default-btn btn">More About Us</a>
      </li>
      </ul>
      </div>
      <div class="feature" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="900">
      <div class="row">
      <div class="col-lg-10">
      <div class="row">
      <div class="col-lg-6 col-md-6">
      <ul>
      <li>
      <i class="ri-check-double-line"></i>
      20+ Years Of Excellences
      </li>
      <li>
      <i class="ri-check-double-line"></i>
      24 Hours Medical Service
      </li>
      </ul>
      </div>
      <div class="col-lg-6 col-md-6">
      <ul>
      <li>
      <i class="ri-check-double-line"></i>
      Multi-Specialty Hospital
      </li>
      <li>
      <i class="ri-check-double-line"></i>
      Professional Specialist
      </li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="col-lg-6">
      <div class="banner-img">
      <img src="assets/images/banner/banner-1.png" alt="Image">
      </div>
      </div>
      </div>
      <div class="row align-items-center">
      <div class="col-lg-6">
      <div class="banner-content">
      <h1>The Pursuit Of Advanced Medicine For Your Life</h1>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
      <div class="select-content">
      <ul class="d-flex flex-wrap justify-content-between">
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Find remedy for your condition</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
      </li>
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Morbidity</option>
       <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
      </li>
      <li>
      <select class="form-select" aria-label="Default select example">
      <option selected="">Department</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
      </li>
      <li>
      <button type="submit" class="src-btn">
      Search<i class="ri-user-search-line"></i>
      </button>
      </li>
      </ul>
      </div>
      <div class="btn-area">
      <ul>
      <li>
      <a href="appoinment.html" class="default-btn btn active mr-20">Book An Appointment</a>
      </li>
      <li>
      <a href="about-us.html" class="default-btn btn">More About Us</a>
      </li>
      </ul>
      </div>
      <div class="feature">
      <div class="row">
      <div class="col-lg-10">
      <div class="row">
      <div class="col-lg-6 col-md-6">
      <ul>
      <li>
      <i class="ri-check-double-line"></i>
      20+ Years Of Excellences
      </li>
      <li>
      <i class="ri-check-double-line"></i>
      24 Hours Medical Service
      </li>
      </ul>
      </div>
      <div class="col-lg-6 col-md-6">
      <ul>
      <li>
      <i class="ri-check-double-line"></i>
      Multi-Specialty Hospital
      </li>
      <li>
      <i class="ri-check-double-line"></i>
      Professional Specialist
      </li>
      </ul>
      </div>
      </div>
      </div>
      </div>
       </div>
      </div>
      </div>
      <div class="col-lg-6">
      <div class="banner-img">
      <img src="assets/images/banner/banner-2.png" alt="Image">
      </div>
      </div>
      </div>
      </div>
  </div>
  </div>
