<div class="home-doctor">
  <div class="content">
    <h4>Welcome Dr Ali Hassib</h4>
    <p> We are very proud that you joining us</p>
  </div>
  <div class="image">
    <img src="assets/images/dralihassib.png" alt="">
  </div>
</div>

<div class="boxes-doc">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Do not Forget</h3>
      <div class="profile-box-not-forget">
        <div class="content-img">
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
            <div class="names">
              <p>Khaled Mohammed</p>
              <span>Abdominal pain</span>
            </div>
          </div>
          <button class="text-danger btn">Clear</button>
        </div>
        <div class="date-time">
          <div class="calendar">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Today</span>
          </div>
          <div class="time">
            <i class="fa-regular fa-clock"></i>
            <span>2:30AM - 3:00AM</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>What are you looking for ?</h3>
      <div class="boxes-doc-profile">
        <div class="box" routerLink="">
          <i class="fa-regular fa-calendar-days"></i>
          <p>Appointment request</p>
        </div>
        <div class="box" routerLink="">
          <i class="fa-solid fa-rectangle-list"></i>
          <p>Patients List</p>
        </div>
        <div class="box" routerLink="">
          <i class="fa-regular fa-clock"></i>
          <p>Availability</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
