<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="progfile-doc">
        <!-- <h2 class="title">My Profile</h2> -->
        <img
          src="assets/images/kh.jpg"
          alt=""
          class="rounded-circle img-fluid"
        />
        <div class="lang">
          <p>Language</p>
          <p>English (US)</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content-profile">
        <div class="tabs-profile">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                <i class="fa-solid fa-circle-user"></i> <br />
                <p>Account Details</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                <i class="fa-solid fa-users-gear"></i>
                <p>Medical Expericenses</p>
              </button>
            </li>
          </ul>
          <div class="tab-content profile-doc-data" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="">Display Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Display Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Marital Status</label>
                    <div class="marital">
                      <label for="single">
                        <p>Single</p>
                        <input
                          id="single"
                          type="radio"
                          value="single"
                          class="form-control"
                          checked
                          name="marital-status"
                        />
                      </label>
                      <label for="">
                        <p>Married</p>
                        <input
                          id="married"
                          type="radio"
                          value="married"
                          class="form-control"
                          name="marital-status"
                        />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Gender</label>
                    <div class="gender">
                      <label for="single">
                        <p>Male</p>
                        <input
                          id="male"
                          checked
                          type="radio"
                          value="male"
                          class="form-control"
                          name="gender"
                        />
                      </label>
                      <label for="">
                        <p>Female</p>
                        <input
                          id="female"
                          type="radio"
                          value="female"
                          class="form-control"
                          name="gender"
                        />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Phone"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="date" class="form-control" />
                  </div>
                </div>

                <div class="col-12 my-5">
                  <div class="d-flex justify-content-center">
                    <button class="btn yes">Confirm</button>
                    <button class="btn cancel mx-5">Refuse</button>
                    <button class="btn cancel">But on the waiting list</button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <div class="tabs-exp-doct">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="pills-edu-doc-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-edu-doc"
                      type="button"
                      role="tab"
                      aria-controls="pills-edu-doc"
                      aria-selected="false"
                    >
                      <i class="fa-solid fa-graduation-cap"></i>
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="pills-cert-doc-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-cert-doc"
                      type="button"
                      role="tab"
                      aria-controls="pills-cert-doc"
                      aria-selected="true"
                    >
                      <i class="fa-solid fa-certificate"></i>
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div
                    class="tab-pane fade"
                    id="pills-edu-doc"
                    role="tabpanel"
                    aria-labelledby="pills-edu-doc-tab"
                  >
                    <div class="edu-content-doc">
                      <h6>Uploaded credentials</h6>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="uploaded-files">
                                <p>Khaled-Mohammed.pdf</p>
                                <div class="icon-close">
                                  <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade show active"
                    id="pills-cert-doc"
                    role="tabpanel"
                    aria-labelledby="pills-cert-doc-tab"
                  >
                    <div class="cert-tabs-doctor">
                      <div class="row">
                        <div class="col-12">
                          <div class="cert">
                            <div class="uploaded-files">
                              <p>X-ray on the abdomen</p>
                              <div class="icon-close">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="cert">
                            <div class="uploaded-files">
                              <p>X-ray on the abdomen</p>
                              <div class="icon-close">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="cert">
                            <div class="uploaded-files">
                              <p>X-ray on the abdomen</p>
                              <div class="icon-close">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="cert">
                            <div class="uploaded-files">
                              <p>X-ray on the abdomen</p>
                              <div class="icon-close">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="cert">
                            <div class="uploaded-files">
                              <p>X-ray on the abdomen</p>
                              <div class="icon-close">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="upload-files">
                            <label for="newfile-x-ray">
                              Upload Your New Files
                              <input
                                type="file"
                                class="d-none"
                                id="newfile-x-ray"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
