<div class="container my-5">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Services</a></li>
      <li class="breadcrumb-item"><a href="#">Medical Raadiology</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Payments</li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="bg-payments-header mb-5">
    <img src="assets/images/header.png" alt="">
  </div>
<div class="paymetns-content mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="header">Payments</h3>
      <p class="par">Select the payment method you want to use</p>
      <div class="boxes">
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="form-check">
                <label class="form-check-label" for="MobileWallets">
                  <input class="form-check-input" type="radio" name="payments" id="MobileWallets">
                  Mobile Wallets
                  <div class="icon">
                    <img src="assets/images/mobilepay.png" alt="">
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="form-check">
                <label class="form-check-label" for="Cash">
                  <input class="form-check-input" type="radio" name="payments" id="Cash">
                  Cash
                  <div class="icon">
                    <img src="assets/images/cash-pay.png" alt="">
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="form-check">
                <label class="form-check-label" for="Credit">
                <input class="form-check-input" type="radio" name="payments" id="Credit">
                Credit
                <div class="icon">
                  <img src="assets/images/cards-pay.png" alt="">
                </div>
              </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
