


<div class="register-area pt-100 pb-70">
    <div class="container">
        <div class="register">

            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                               <div class="img-our-left-box">
                                <img src="assets/images/about/about-4.png" alt="" class="img-fluid">
                                <div class="box-abs">
                                    <p>
                                        30 Years Of Experience Doctor
                                    </p>
                                </div>
                               </div>
                            </div>
                            <div class="col-md-8">
                                <div class="content-about-our-company">
                                    <h1 class="text-head">About Us</h1>
                                    <p class="pa">And zDid Agency For Your Physical And Mental Well-Being</p>
                                    <span>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere dolores
                                        aperiam, quos incidunt nisi quas explicabo harum deserunt laborum consequatur
                                        recusandae dolorum dolorem ex.
                                    </span>

                                    <ul>
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>Mental Health Solutions</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>Mental Health Solutions</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>Mental Health Solutions</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>Mental Health Solutions</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="boxes-about-our">
                                    <div class="box">
                                        <div class="icon">
                                            <img src="assets/images/avatar.png" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="header">
                                                Best Advice Doctor
                                            </h4>
                                            <p class="pa">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere dolores
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="icon">
                                            <img src="assets/images/avatar.png" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="header">
                                                Best Advice Doctor
                                            </h4>
                                            <p class="pa">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere dolores
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>