<div class="my-appoiment mt-5">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8">
          <div class="heder-right-content">
            <ul>
              <li class="w-100 text-center">
                <p>My Appointment Requests</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="heder-right-content">
            <p class="text-center">Availability</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="boxes-pateints my-appoi mb-3">
        <div class="box">
          <div>
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
          </div>
          <div class="package">
            <h6>Package</h6>
            <div class="videoCall">
              <i class="fa-regular fa-comment-dots"></i>
              <div class="p">
                <p>Video Call</p>
                <span>Dec 23,2024 | 10.00 AM</span>
              </div>
              <div class="money">
                <span>30$</span>
                <p>/30 mins</p>
              </div>
            </div>
            <div class="actions">
              <button>Confirm</button>
              <button>Refuse</button>
            </div>
          </div>
        </div>
      </div>
      <div class="boxes-pateints my-appoi mb-3">
        <div class="box">
          <div>
          <div class="image">
            <img src="assets/images/kh.jpg" alt="">
          </div>
          <div class="content">
            <p class="name">Khaled Mohammed</p>
            <div class="icons">
              <div class="icon"><i class="fa-solid fa-mars-stroke"></i> <span>Male</span></div>
              <div class="icon"><i class="fa-regular fa-calendar-days"></i> <span>22 year</span></div>
            </div>
          </div>
          <div class="delete">
            <i class="fa-solid fa-trash-can"></i>
          </div>
          </div>
          <div class="package">
            <h6>Package</h6>
            <div class="videoCall">
              <i class="fa-regular fa-comment-dots"></i>
              <div class="p">
                <p>Video Call</p>
                <span>Dec 23,2024 | 10.00 AM</span>
              </div>
              <div class="money">
                <span>30$</span>
                <p>/30 mins</p>
              </div>
            </div>
            <div class="actions">
              <button>Confirm</button>
              <button>Refuse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="date-my-appoiments">
        <div class="heade">
          <h3>Select Working Time</h3>
          <img src="assets/images/perm_contact_calendar.png" alt="">
        </div>
        <div id="demo-calendar-apppearance33"></div>
        <div class="all-appoi">
          <div class="box my-2">
            <h6>Morning</h6>
            <div class="dates-time">
              <label for="8am" class="date">
                <p>8</p>
                <input type="radio" name="morning" id="8am" value="8">
              </label>
              <label for="9am" class="date">
                <p>9</p>
                <input type="radio" name="morning" id="9am" value="9">
              </label>
              <label for="10am" class="date">
                <p>10</p>
                <input type="radio" name="morning" id="10am" value="10">
              </label>
              <label for="11am" class="date">
                <p>11</p>
                <input type="radio" name="morning" id="11am" value="11">
              </label>
            </div>
          </div>
          <div class="box my-2">
            <h6>Afternoon</h6>
            <div class="dates-time">
              <label for="12am" class="date">
                <p>12</p>
                <input type="radio" name="afternoon" id="12am" value="12">
              </label>
              <label for="1am" class="date">
                <p>1</p>
                <input type="radio" name="afternoon" id="1am" value="1">
              </label>
              <label for="2am" class="date">
                <p>2</p>
                <input type="radio" name="afternoon" id="2am" value="2">
              </label>
              <label for="3am" class="date">
                <p>3</p>
                <input type="radio" name="afternoon" id="3am" value="3">
              </label>
            </div>
          </div>
          <div class="box my-2">
            <h6>Evening</h6>
            <div class="dates-time">
              <label for="4am" class="date">
                <p>4</p>
                <input type="radio" name="night" id="4am" value="4">
              </label>
              <label for="5am" class="date">
                <p>5</p>
                <input type="radio" name="night" id="5am" value="5">
              </label>
              <label for="6am" class="date">
                <p>6</p>
                <input type="radio" name="night" id="6am" value="6">
              </label>
              <label for="7am" class="date">
                <p>7</p>
                <input type="radio" name="night" id="7am" value="7">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
